{% extends "base.html" %}
<head>
	{% block head %}
	<title>Carro de compras</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cart.css') }}"">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cart_responsive.css') }}">
	{% endblock %}
</head>

{% block content %}
<form method="POST" id="Shopcar">
    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="../static/images/cart.jpg" data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_container">
                        <div class="home_content">
                            <div class="home_title">Carro de compras</div>
                            <!-- <div class="breadcrumbs">
                                <ul>
                                    <li><a href="index.html">Inicio</a></li>
                                    <li>Carro de compras</li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form method="POST" id="Shopcar">
        <div class="cart_container ">
            <div class="container ">
                <div class="row ">
                    <div class="col ">
                        <div class="cart_title ">Productos en el carro</div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col ">
                        <div class="cart_bar d-flex flex-row align-items-center justify-content-start ">
                            <div class="cart_bar_title_name ">Producto </div>
                            <div class="cart_bar_title_content ml-auto ">
                                <div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end ">
                                    <div class="cart_bar_title_price ">Precio unitario</div>
                                    <div class="cart_bar_title_quantity ">Cantidad</div>
                                    <div class="cart_bar_title_button "></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if longitud%}{% for item in longitud %}
                <div class="row ">
                    <div class="col ">
                        <div class="cart_products ">
                            <ul>
                                <li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start ">
                                    <!-- Product Image -->
                                    <div class="cart_product_image "><img src="../static/images/cart_product_1.jpg " alt=" "></div>
                                    <!-- Product Name -->


                                    <div class="cart_product_name "><a href="../product ">{{ categoria['nombre'][item]}}</a></div>
                                    <div class="cart_product_info ml-auto ">
                                        <div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start ">
                                            <!-- Product Price -->
                                            <div class="cart_product_price ">{{ categoria['precio'][item]}}</div>
                                            <!-- Product Quantity -->
                                            <div class="product_quantity_container ">
                                                <div class="product_quantity clearfix ">
                                                    <input id=" " type="text " name="{{categoria['id'][item]}}" value="0">

                                                </div>
                                            </div>
                                            <!-- Products Total Price -->

                                            <!-- Product Cart Trash Button -->
                                            <div class="cart_product_button ">
                                                <button class="cart_product_remove ">
                                                        <a href="# ">
                                                            <img src="../static/images/trash.png " alt=" ">
                                                        </a>
                                                    </button>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}


                <div class="row ">
                    <div class="col ">
                        <div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start ">

                            <button class="button_update cart_button_2 ml-md-auto ">Continuar compra</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

	{% block jscripst %}
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/bootstrap4/popper.js"></script>
	<script src="../static/bootstrap4/bootstrap.min.js"></script>
	<script src="../static/plugins/easing/easing.js"></script>
	<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="../static/js/cart_custom.js"></script>
	{% endblock %}